.widefat {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.widefat ul{
    margin-top: 0px;
}

.widefat th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.widefat th, .widefat td {
    border: 1px solid #ccc;
    padding: 10px;
}

.widefat tr:nth-child(even) {
    background-color: #f9f9f9;
}

.widefat tr:nth-child(odd) {
    background-color: #fff;
}


.wrap {
    margin: 20px;
}

.wrap h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold; /* This makes the heading bold */
}


label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.button-prymary {
    color: #2a5595;
    border-color: #3f77af;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    border-style:solid;
    border-width:2px;
    float: left;
}

.button-prymary:hover {
    color: #063375;
    border-color: #062f59;


}

/* 
.flexdiv{
    display: flex;
} */

.pdtp-2{
    padding-top: 10px;
}

.edit-button {
    display: none;
}
.delete-button {
    display: none;
    color: rgb(171, 10, 10);
}
.pdtp-5{
    padding-top: 5px;
}

.aligncenter{
    margin-top:auto !important;
    margin-bottom:auto !important;
}