.widefat {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.widefat ul{
    margin-top: 0px;
}

.widefat th {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.widefat th, .widefat td {
    padding: 10px !important;
}

.column-role {
    width: 60% !important;
}

.column-users{
    width: 20%;
}

.column-capabilities{
    width: 20%;
}

.widefat th input{
    margin: 0;
} 
.aligncenter{
    text-align: center;
}
.wrap {
    margin: 20px;
}

.wrap h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold; /* This makes the heading bold */
}


label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.button-prymary {
    color: #2a5595;
    border-color: #3f77af;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    border-style:solid;
    border-width:2px;
    float: left;
}

.button-prymary:hover {
    color: #063375;
    border-color: #062f59;
}
/* 
.flexdiv{
    display: flex;
} */

.pdtp-2{
    padding-top: 10px;
}

/* Hide the edit and delete buttons by default */
.edit-button, .delete-button {
    display: none;
}
.delete-button {
    color: rgb(150, 0, 0);
}
.delete-button:hover{
    color: rgb(250, 0, 0);
}

/* Show the edit and delete buttons on hover */
.role:hover .edit-button, .role:hover .delete-button {
    display: inline;
}

.pdtp-5{
    padding-top: 5px;
}

.aligncenter{
    margin-top:auto !important;
    margin-bottom:auto !important;
}

.tablenav-pages {
    margin-top: 20px;
}

.tablenav-pages a {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 5px;
    text-decoration: none;
    border-radius: 5px ;
    border: 1px solid rgb(0, 140, 255);
    color: #3f77af;
}

.tablenav-pages a:hover {
}

.tablenav-pages .current {
    background-color: #337ab7;
    color: #fff;
    padding: 0px 5px;
    border-radius: 4px;
}
.group-li{
    display: flex;
}
.group-name{
    text-transform: capitalize;

}
.capability-group-main{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(180, 180, 238);
    min-height: 400px;
}
.group-list {
    float: left;
    width: 40%; /* Adjust the width as needed */
}

.group-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%; /* Set the list width to 100% */
}

.group-list-ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-weight: 600;
}

.group-list-ul li:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.group-list-ul a {
    text-decoration: none;
    color: #333;
    display: block;
}
.tbl{
    margin: 0;
    width: 100%;
}
.selected-group-capabilities{
    width: 100%;
}

.group-list-ul .active-group a {
    color: #5a8ebe; /* Change the color to your desired color */
    font-weight: bold; /* Add emphasis to the active group */
}
.group-list-ul li.active-group a {
    font-weight: bold; /* You can customize this as needed */
    color: #5a8ebe; /* You can choose a color that fits your design */
  }